
html {
    background-image:               url("conference2.jpg");  
    background-size:                100% ;
}

.wrapper {
    margin:			auto;
    background-color:		#FDFEFE;
    width:			80%;
    min-width:			700px;
    max-width:			960px;
    color:			#000000;
    overflow:			auto;
    padding:			10px 10px 10px 10px;
}

body {
    margin-top:                 0;
    font-family:                Arial, Helvetica, sans-serif;
    max-width:                  960px;
    margin:                     0 auto;
    background-color:           white;
    border:                     5px solid #001963;
}

body p {
    text-indent: 20px;
}

footer {
    text-align:			center;
    font-size:			.70em;
    font-style:			italic;
    padding:			10px;
    clear:			left;
}

.heading{
    text-align: center;
    border: solid black 2px;
}

.nav{    
    height: 2em; 
    text-align: center;
    margin-bottom: 10px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

input, textarea {
	margin-top:				10px;
	display:				block;
}

.form-wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
  }
.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  
button-center {
   margin-left:auto; 
   margin-right:auto;
     
  }